*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Naskh Arabic', serif;
font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F7F9F9;
}

.nav-container{
    width: 100%;
    justify-content: center; 
    display: flex;
    padding: 0% 5%;
    height: 30px;
    align-items: center;
    background-color: rgb(76, 59, 235);
    height: 10vh;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.nav-container nav{
    width: 50%;
}

.nav-container ul{
    display: flex;
}


.nav-container ul li{
    list-style: none;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 10vh;;
    align-items: center;
    cursor: pointer;
    font-size: 3vh;
}


.nav-container a{
    text-decoration: none;
    color: aliceblue;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #4139af;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }


.h1-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    position: relative;
    background:url(/imagenes/fondo.jpg) no-repeat center/100%;
}

.container{
    display: flex;
}

.container>#foto-h1::before{
    background-image: url(/imagenes/fotoperfi.png);
    content: "";
    inset: 0;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 50vh;
    left: 130vh;
    top: 40vh;
    filter: drop-shadow(4px 26px 12px black);
}



.h1-container::before{
    position:absolute;
    inset: 0;
    content: "";
    background-color: rgb(0, 0, 0, 0.60);
    
}

.h1-container>h1{
    font-size: 10vh;
    position: relative;
    color: aliceblue;
    margin-left: 10vh;
}

.h1-container>p{
    color: aliceblue;
    position: relative;
    margin-left: 10vh;
    font-size: 4vh;
    width: 60%;
}

.h1-container>a{
    position: relative;
    border-radius: 2rem;
    color: aliceblue;
    margin-left: 10vh;
    width: 13%;
    padding: 15px;
    background-color: #FD3E81;
}

.h1-container>a:hover{
    cursor: pointer;

}


.container-aboutme{
    display: flex;
    max-width: 70%;
    margin:  15%;
    box-shadow: 1px 2px 40px 1px rgba(0,0,0,0.62);
-webkit-box-shadow: 1px 2px 40px 1px rgba(0,0,0,0.62);
-moz-box-shadow: 1px 2px 40px 1px rgba(0,0,0,0.62);
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
border: 1px solid rgba(0,0,0,0.3);
}

.container-aboutme>img{
    width: 20em;
    border-top-left-radius: 2rem;
    background-color:#F9F9ED
}

#descripcion-container-aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#descripcion-container-aboutme>h2{
    background-color: #FD3E81;
    width: 100%;
    border-top-right-radius: 2rem;
    color: aliceblue;
    text-align: center;

}

#descripcion-container-aboutme>p{
    padding: 0px 30px 10px 30px;
}

#tecnologias>h3{
    text-align: center;
    background-color: #FD3E81;
    color: aliceblue;
}

#tecnologias{
    display: flex;
    flex-direction: column;

}


#tecnologias #scrum{
    width: 20px;
}

.iconos-primera-fila{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.iconos-segunda-fila{
    display: flex;
    align-items: center;
    margin-left: 9%;
    gap: 8%;
}


.iconos-primera-fila>p{
    display: flex;
    gap: 5px;
    font-size: 4vh;
    width: 33.33%;
    align-items: center;
    justify-content: center;
}

.iconos-segunda-fila>p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 4vh;
    width: 30%;
}

